/**
* @name ReAstarte2
* @author AkashicBearer
* @version 1.0
* @description A Lovely Transparent Anime Theme
* @source https://github.com/AkashicBearer/Re-Astarte
* @authorLink https://github.com/AkashicBearer
*/

/* Small note please DM me on Discord, send an email, or report it on github if there is an issue with the theme (like missing elements) */

/*---------- BACKGROUND ----------*/
body {
	background-color: transparent;
    background-image: url(https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg);
    background-size: cover;
}
.app-mount .backdrop-1wrmKB, .backdrop-1wrmKB, .backdropWithLayer-3_uhz4 {
	background: transparent !important;
}

/*---------- REMOVE DARK & WHITE THEME BACKGROUNDS ----------*/
.theme-dark,
.theme-light {
    --background-message-hover: rgba(0, 0, 0, 0);
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #9d9d9d;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --activity-card-background: transparent;
    --deprecated-panel-background: transparent;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;
    --background-floating: rgba(0, 0, 0, .8);
}

.theme-dark .layer-3QrUeG, .container-2lgZY8, .wrapper-1Rf91z, .scroller-2TZvBN, .privateChannels-1nO12o, .sidebar-2K8pFh, .scroller-1JbKMe, .scroller-zPkAnE, .scroller-2XE8rp, .scroller-9moviB {
    background-color: transparent;
}

.quickswitcher-3JagVE {
    position: absolute;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 8px 4px rgba(0,0,0,.2);
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    background-size: cover;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
    color: white;
}

.input--jS-j2 {
    background-color: transparent;
}
    
.container-UC8Ug1 {
    border-radius: 4px;
    border: 1px solid #33B5FF;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    background-size: cover;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}

/*---------- SLIDE IN/OUT ANIMATION ----------*/
div.sidebar-2K8pFh {
    opacity: 0;
    width: 40px;
    -webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
div.sidebar-2K8pFh:hover {
    opacity: 1;
    width: 250px;
}

/* MEMBER LIST */
[class|=membersWrap] {
    opacity: 0;
    width: 10px;
    min-width: 40px;
    -webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
[class|=membersWrap]:hover {
    opacity: 1;
    width: 240px;
}
.members-1998pB {
    opacity: 0;
    width: 40px;
    -webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
.members-1998pB:hover {
    opacity: 1;
    width: 240px;
}

/*---------- RANDOM FIXES AND ADJUSTMENTS ----------*/
/*---------- OTHER BACKGROUND FIXES / MINOR INDIVIDUAL FIXES ----------*/
/* NITRO STORE PAGE */

/* MAIN */
.applicationStore-1pNvnv {
    background-color: rgba(0, 0, 0, 0);
}
/* SECONDARY */
.scroller-9moviB {
    background-color: rgba(0, 0, 0, 0);
}
/* NITRO AD BORDER RADIUS */
.theme-dark .tier1Banner-1B_WXY {
    border-radius: 15px;
}
/* GRADIANT REMOVAL ON GAME SCROLL */
.gradientOverlayRight-3vMuS8,
.gradientOverlayLeft-3w159C {
    left: -1000px
}
/* GAME SCROLL ARROW BACKGROUND FIXES */
.scrollerButton-1Vm5_P {
    background-color: rgba(64, 68, 75, 1);
}
/* FRIENDS TAB */
.theme-light .container-1D34oG,
.theme-dark .container-1D34oG {
    background-color: rgba(0, 0, 0, 0);
}
/*---------- LIGHT (aka RETARDED) MODE COLOR FIXES ----------*/
/* ACTIVITY TAB FIXES (BOTH LIGHT AND DARK) */
.theme-light .header-3uLGFv {
    color: #fff;
}
.theme-light .emptyCard-1AOHER {
    border-color: #00000000;
}
.theme-light .wrapper-3UweLa {
    background: #202225;
    color: #b9bbbe;
}
.theme-light .recentlyPlayedContainer-2F3MqS {
    background-color: #202225;
    border: 0px solid #e3e5e8;
}
.theme-dark .wrapper-Lii66c,
.theme-light .wrapper-Lii66c {
    background-color: #202225;
    border: 0px solid #e3e5e8;
}
.theme-light .card-3EIh8J {
    box-shadow: inset 0 0 0 0px #e3e5e8, 0 0 0 transparent
}
.theme-light .separator-2c4hi3,
.theme-dark .separator-2c4hi3 {
    background-color: #f7f7f78f;
}
.theme-dark .wrapper-9ppXpy,
.theme-light .wrapper-9ppXpy {
    box-shadow: inset 0 1px 0 #f7f7f78f;
}
.theme-light .card-3EIh8J:hover {
    background-color: #18191D;
}
/* LINKS */
.markup-2BOw-j a {
    color: rgba(0, 176, 244, 1);
}
.button-F9qN4n:hover, .keyboard-mode .button-F9qN4n.focused-3ZzkKr {
	background-color: rgba(79, 170, 101, .36);
}
.sourceThumbnail-27dolk {
	background-color: transparent;
}
.background-ujHpbY {
  background-color: transparent !important;
}
  
.tile-2w4k5N:hover .sourceThumbnail-27dolk,
.sourceThumbnail-27dolk.selected-1nOkyc {
	box-shadow: inset 0 0 0 2px #33B5FF;
}
.tile-2naSqK {
	background-color: transparent;
}
.card-3RzMcx {
	background-color: rgba(79, 170, 101, .36); !important;
}
.card-2Mz_4z {
	border-radius: 5px;
	color: white;
	border: 1px solid #33B5FF;
	background-color: rgba(79, 170, 101, .36);
}
.border-3dQmSY.speaking-WDn8Wm {
	box-shadow: inset 0 0 0 2px #33B5FF, inset 0 0 0 3px #000;
}
.emptyChannelIcon-cc932w {
  border-radius: 6px;
  background-color: #33B5FF;
}

.theme-dark .item-3T2z1R {
  border-color: transparent;
}

.item-3T2z1R:last-child {
  border-radius: 0 5px 5px 0;
}

.selectorButton-EEUWed {
  background-color: rgba(79, 170, 101, .36);
}
#app-mount .selectorButtonSelected-t5V9On {
  background-color: #33B5FF;
}

.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: rgba(79, 170, 101, .36);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: white;
    background-color: transparent;
    border: 1px solid #4f545c;
}

.wrapper-39oAo3 {
    background-color: rgba(79, 170, 101, .36);
}

.tutorialIcon-3f1miQ {
    background-color:  #33B5FF;
    color: white;
    border-radius: 6px;
  }

.selected-3xBBKs .icon-2VCx8O, .selected-3xBBKs:hover .icon-2VCx8O, .icon-2VCx8O {
    color: white;
}

.theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover {
    background-color:#33B5FF;
}

/* REMOVE HELPFUL TIP */
.theme-dark .protip-YaFfgO {
    opacity: 0;
    height: 0px;
    width: 0px;
}

/* Ping Pongs (cause fk red pings) */
.pageButton-2ruNwd:hover {
    color: white;
    background-color: #33B5FF;
}
.base-PmTxvP {
    background-color: #33B5FF !important;
}
/* Guild Icons & Folders */
.roundButton-CEHyUp {
    border-radius: 4px;
}
.option-3KoAJB.focused-1T6PE5 {
    color: white; 
    background-color:#33B5FF !important;
}
.wrapper-uf3cnO {
    background-color: transparent;
}
.tutorial-3w5I9h {
    background-color: rgba(79, 170, 101, .36);
}
.guildSeparator-3s64Iy {
    background: none;
}
.guildSeparator-3s64Iy {
    background: none;
}
.childWrapper-anI2G9 {
    background-color: #33B5FF;
    color: white;
}
.protip-1b9XPC {
    border-top: none;
}
.autocompleteQuerySymbol-1kyGZ5 {
    background-color: #33B5FF;
}
.theme-dark .children-19S4PO:after {
    background: none;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: rgba(79, 170, 101, .36);
    color: #33B5FF;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: #33B5FF;
}


.svg-1X37T1>mask {
    display: none;
}
.icon-27yU2q, .childWrapper-anI2G9, .folderIconWrapper-226oVY, .guildIcon-GuAC7C.iconInactive-98JN5i {
    border-radius: 25%;
}
.folder-21wGz3 {
    background-color: rgba(0,0,0,0.4);
    border-radius: 25%;
}
.folder-21wGz3.hover-2ji_A7 {
    background-color: rgba(0,0,0,0.7);
}
.expandedFolderBackground-2sPsd- {
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
}
.guildsError-b7zR5H, .guildIconUnavailable-5PMHDN, .circleIconButton-jET_ig {
    border-radius: 20%;
}
.guildsError-b7zR5H, .guildIconUnavailable-5PMHDN {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #f50300;
}
.guildsError-b7zR5H:hover {
    border-color: transparent;
    background-color: rgba(79, 170, 101, .36);
}
/*---------- Quick Switch ----------*/

.theme-dark .tooltipRed-8-9NeP {
	color: white;
    background-color: rgba(79, 170, 101, .36);
}
.theme-dark .tooltipRed-8-9NeP .tooltipPointer-3ZfirK {
    border-top-color: rgba(79, 170, 101, .36);
}
.theme-dark .tooltip-2QfLtc {
	box-shadow: none;
	color: white;
}
.textarea-2r0oV8:focus {
    background-color: rgba(79, 170, 101, .36);
}
.tooltip-2QfLtc {
	border-radius: 7px;
}
.layers-3iHuyZ {
    background-color: rgba(0, 0, 0, 0.77);
}
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4 {
  background-color: rgba(0,0,0,0.2) !important;
}
.theme-dark .root-1gCeng {
    background-color: rgba(40, 40, 40, .4);
    box-shadow: none;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, .4); 
}
.searchBar-6Kv8R2 {
    box-shadow: none;
}
.container-2XeR5Z {
    border-radius: 6px;
    background-color: rgba(0,0,0,.2);
}
.colorHeaderSecondary-3Sp3Ft, .colorHeaderPrimary-26Jzh-, .container-UC8Ug1 .colorStandard-2KCXvj, .footer-2gL1pp .colorStandard-2KCXvj  {
    color: white;
}
.panels-j1Uci_ {
    background-color: rgba(0,0,0,.2);
}
.input-1Rv96N {
    color: white;
}
*::-webkit-input-placeholder {
    color: white !important;
}
.input-2VB9rf {
    padding: 0 12px;
    border-radius: 8px;
    height: 60px;
    background-color: rgba(0,0,0,.2);
    color: white;
    box-shadow: none;
    transition: background-color .3s linear;
}
.input-2VB9rf:focus {
    background-color: rgba(0,0,0,.4);
}
.resultFocused-3aIoYe {
    border-radius: 20px;
    background-color: rgba(40, 40, 40, .4);
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;   
}
.result-oB0z-- {
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  height: 39px;
  padding-top: 3px;
  padding-left: 6px;
}
.header-13MUnb,
.contentDefault-16dKSY {
    color: white;
}
.iconContainer-3UxHn2 .avatarSizeOverride-2KySyz {
    width: 30px !important;
    height: 30px !important;
    margin-right: 5px;
}
.avatarSizeOverride-2KySyz foreignObject {
    mask: none;
}
.name-2NBmhj {
    margin-left: 7px;
}
.avatarSizeOverride-2KySyz .avatar-VxgULZ {
    border-radius: 4px;
}
.auto-Ge5KZx::-webkit-scrollbar-track {
    background-color: transparent !important;
    border: none !important;
}
.note-S--UP5 {
    color: silver;
}

.emptyStateNote-ZYTetQ {
    color: white;
}
.tipsWithoutResults-lGY-De, .tipsWithResults-HhTE9b {
    border-top: none;
    color: white;
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
	color: #d7d7d7;
	box-shadow: none;
	border: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.keybindShortcutQuickSwitcher-1-Xs5c span {
	margin-right: 0;
}
.keybindShortcut-1BD6Z1 span {
	padding: 3px 8px;
	border-radius: 7px;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
    color: white;
    box-shadow: none;
    border: none;
    background-color: #33B5FF;
}
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g {
    fill: #d7d7d7;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active .bindArrow-2X3Aom g {
    fill: white;
}
.theme-dark .container-1r6BKw {
    background-color: transparent;
}
.theme-dark .container-1r6BKw {
    color: white;
}
.icon-22AiRD {
    color: white !important;
}
.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.35);
    border-color: transparent;
}
.auto-Ge5KZx::-webkit-scrollbar {
    width: 18px;
}


/*----------  ----------*/
.children-19S4PO:after {
    background: none;
}

.container-3T1zWi:before {
    box-shadow: none;
}

/*---------- PROFILE TAB ----------*/
/* SPOTIFY FIX */
.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
    border-radius: 15px;
    background-color: rgba(79, 170, 101, .36);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
    margin-bottom: 10px;
}
/* "PLAYING A GAME" FIX */
.headerPlaying-j0WQBV,
.headerStreaming-2FjmGz {
    background: rgba(79, 100, 170, .36);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
    margin-bottom: 10px;
}
.userPopout-3XzG_A:background {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
/* BACKGROUND */
.userPopout-3XzG_A {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-position: center top;
    background-size: cover;
    background-color: #000000;
}
/* HEADER */
.theme-light .headerNormal-T_seeN,
.theme-dark .headerNormal-T_seeN {
    border-radius: 15px;
    background-color: rgba(40, 40, 40, .4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/* ROLES */ 
.theme-light .body-3iLsc4, 
.theme-dark .body-3iLsc4 {
    border-radius: 15px;
    background-color: rgba(40, 40, 40, .4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/* Role Add Popup */
.container-VSDcQc {
    background-image: url(https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg);
	border-radius: 15px;
    background-color: rgba(40, 40, 40, .4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
.header-2bNvm4 {
    background-image: url(https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg);
	border-radius: 15px;
    background-color: rgba(40, 40, 40, .4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
    margin-bottom: 5px;
}

.sectionTag-pXyto9 {
	background-image: url(https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg);
    border-radius: 20px;
    background-color: rgba(40, 40, 40, .4);
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);   
}

.row-rrHHJU {
    border-radius: 20px;
    background-color: rgba(40, 40, 40, .4);
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4); 
    margin-left: 10px;
}
    
/* BACKGROUND BORDER RADIUS */
.userPopout-3XzG_A {
    border-radius: 15px;
}
/* BODY */
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6 {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
}
/* MESSAGE BOX */
.theme-light .quickMessage-1yeL4E,
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(40, 40, 40, .4);
    border-radius: 15px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/* BODY 2 */
.body-3iLsc4 {
    background-color: rgba(40, 40, 40, .4);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/* BORDER RADIUS FIX */
.popout-2iWAc- {
    border-radius: 15px;
}

/* PROFILE */
.inner-1ilYF7 { 
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    border-radius: 15px;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/* PROFILE PAGE POPUP TOP */
.topSectionNormal-2-vo2m, .topSectionPlaying-1J5E4n, .topSectionStreaming-1Tpf5X {
    background-color: rgba(40, 40, 40, .4);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/* PROFILE PAGE POPUP BOTTOM */
.body-3ND3kc {
    background-color: rgba(40, 40, 40, .4);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
    margin-top: 5px;
}

/*---------- CHAT MESSAGE BAR ----------*/
.scrollableContainer-2NUZem {
    border-radius: 20px;
    background-color: rgba(40, 40, 40, .4);
    margin-top: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);
}
/*------------ PROFILE TAB ------------*/
/* BOTTOM WHITE BACKGROUND REMOVAL */
.theme-light .bodyInner-245q0L,
.theme-light .footer-1fjuF6 {
    background-color: rgba(0, 0, 0, 0);
}
/* BODY TEXT COLOR FIX */
.theme-light .bodyInner-245q0L,
.theme-light .footer-1fjuF6 {
    color: rgba(255, 255, 255, 0.8);
}
/* NAME COLOR */
.theme-light .headerNormal-T_seeN .headerName-fajvi9,
.theme-light .headerNormal-T_seeN .headerTagUsernameNoNickname-2_H881 {
    color: rgba(255, 255, 255, 1);
}
/*---------- ROLES SELECTION POPUP BORDER RADIUS FIX ----------*/
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
    border-radius: 15px;
}
.theme-dark .autocompleteArrow-Zxoy9H,
.theme-dark .autocompleteHeaderBackground-30T70q {
    border-radius: 15px;
}
.theme-light .container-VSDcQc .sectionTag-pXyto9 {
    border-radius: 15px;
}
.theme-light .autocompleteArrow-Zxoy9H,
.theme-light .autocompleteHeaderBackground-30T70q {
    border-radius: 15px;
}

/*---------- ROLES SELECTION POPUP SHADOW FIX ----------*/
.theme-dark .autocompleteArrow-Zxoy9H,
.theme-dark .autocompleteShadow-iiGWFU {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(32, 34, 37, 0);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(32, 34, 37, 0)
}
.theme-light .autocompleteArrow-Zxoy9H,
.theme-light .autocompleteShadow-iiGWFU {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(185, 187, 190, 0);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(185, 187, 190, 0)
}

/*---------- DARK THEME PING BORDER RADIUS FIX ----------*/
.theme-dark .wrapper-3WhCwL {
    border-radius: 4px;
}

/*---------- BOLD FONT/MARKUP FIX ----------*/
.markup-2BOw-j {
    color: #d5d5d5;
}
/*---------- PPOFILE TAB POPUP TEXT COLOR CHANGES ----------*/

/* SUB HEADER RECOLOR */
.bodyTitle-Y0qMQz {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

/* TEXTBOX TEXT COLOR CHANGE (MESSAGE) */
.theme-light .quickMessage-1yeL4E::-webkit-input-placeholder,
.theme-dark .quickMessage-1yeL4E::-webkit-input-placeholder {
    color: rgb(221, 221, 221);
}

/* TEXTBOX TEXT COLOR CHANGE (NOTE) */
.note-3kmerW textarea::-webkit-input-placeholder {
    color: rgb(221, 221, 221);
}

/* MAKE (NOTE) TRANSPARENT WHEN CLICKED */
.note-3kmerW textarea:focus::placeholder {
    color: transparent;
}

/* MAKE (MESSAGE) TRANSPARENT WHEN CLICKED */
.theme-light .quickMessage-1yeL4E:focus::placeholder,
.theme-dark .quickMessage-1yeL4E:focus::placeholder {
    color: rgba(255, 0, 0, 0);
}
/*---------- PPOFILE TAB PADDING/MARGIN REMOVALS AND STUFF ----------*/

/* REMOVE HELPFUL TIP */
.theme-dark .protip-YaFfgO {
    opacity: 0;
    height: 0px;
    width: 0px;
}

/* RANDOM PADDING? FORGOT ?-? */
.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6 {
    padding-top: 5px;
}

/* HEADER MARGIN */
.theme-light .headerNormal-T_seeN,
.theme-dark .headerNormal-T_seeN {
    margin-bottom: 10px;
}
/*---------- MENU TAB BACKGROUND AND PADDING ----------*/

/* BACKGROUND */
.contextMenu-HLZMGh {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    background-position: center top;
    background-size: cover;
}

/* BAN/KICK BUTTONS MARGIN IN BETWEEN */
.itemBase-tz5SeC.danger-2dXSTE:nth-child(1) {
    margin-bottom: 3px;
}

/* BAN/KICK BUTTONS NO HOVER */
.itemBase-tz5SeC.danger-2dXSTE:nth-child(1),
.itemBase-tz5SeC.danger-2dXSTE:nth-child(2) {
    background-color: rgba(64, 68, 75, 1);
    border: 2px solid rgba(13, 13, 15, .29);
    border-radius: 15px;
}

/* BAN/KICK BUTTONS HOVER */
.itemBase-tz5SeC.danger-2dXSTE:nth-child(1):hover,
.itemBase-tz5SeC.danger-2dXSTE:nth-child(2):hover {
    background-color: rgba(64, 68, 75, .5);
    border: 2px solid rgba(13, 13, 15, .20);
    border-radius: 15px;
}

/*---------- ROLE GIVER TAB THINGY BORDER RADUS FIX ----------*/
.theme-dark .row-rrHHJU.selected-1pIgLL {
    border-radius: 15px;
}

/* Upload Stuff */

.uploadArea-3QgLtW {
    background: rgba(0,0,0,.3);
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background-color: #33B5FF;
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo {
    background-color: rgba(144, 30, 79, 0.76);
    border: none;
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y,
.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
    color: white;
}

.theme-dark .uploadModal-2ifh8j {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    border-radius: 13px;
    background-color: rgba(40, 40, 40, .4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
    background-size: cover;
}

.theme-dark .footer-3mqk7D {
    box-shadow: none;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;

}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border-radius: 13px;
    background-color: rgba(40, 40, 40, .4);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;  
}

/* --- */

.theme-dark .option-96V44q .filter-3Y_im- {
    color: silver;
}

.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: white;
}

.item-2hkk8m {
    width: 12px;
    height: 16px !important;
    border-radius: 50%;
    background-color: #33B5FF;
}

.item-2hkk8m[style*="height: 40px;"] {
    background-color: #33B5FF;
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}

.bg-AYqtMd {
    opacity: 0 !important;
}

.theme-dark .searchBox-3Y2Vi7,
.css-1wqqa50-container {
    background-color: rgba(0, 0, 0, 0.32);
    box-shadow: none;
}

.detailsBlock-FoDTGA {
    background-color: rgba(0, 0, 0, 0.32);
}

.theme-dark .clearIcon-2N9YIn, 
.theme-dark .searchIcon-1a1-yA,
.css-ncjuf0-control,
.css-1k00wn6-singleValue,
.billingInformation-1MZXzx,
.select-2fjwPw,
.option-3KoAJB {
    color: white;
}

.lookFilled-22uAsw.select-2fjwPw {
    background-color: #33B5FF;
    border-color: #33B5FF;
}

.option-3KoAJB[aria-selected=true] {
    color: white;
    background-color: #33B5FF !important;
}

.popout-VcNcHB {
    border: 1px solid #33B5FF;
    background: #33B5FF;
}

.option-3KoAJB:focus, .option-3KoAJB:hover {
    background-color: rgba(0, 0, 0, .451);
    color: white;
}

.selectedIcon-3uS11H {
    color: white;
 }

.css-3vaxre-menu {
    background-color: #33B5FF;
    box-shadow: none;
    color: white;
    border-top: none;
}


.css-1yz4bi9-option {
    background-color: rgba(0, 0, 0, 0.52);
}


.css-rzbxvl-option {
    background-color: rgba(0, 0, 0, 0.22);
    color: white;
}

.theme-dark .sectionSeparator-2OWiNT {
    border: none;
}

.theme-dark .card-3DjzTQ, 
.theme-dark .cardPlaceholder-1zrbbe {
    background-color: rgba(0, 0, 0, 0.22);
}

.circleIconButton-jET_ig {
    background-color: black;
    color: #33B5FF;
}

.circleIconButton-jET_ig.selected-ugP_am {
    color: #fff;
    background-color: #33B5FF;
}

.bda-dark .theme-dark .slide-2pHaq5 {
    background: linear-gradient(230deg, #33B5FF 0%, #33B5FF 100%);
    box-shadow: 3px 4px 12px 3px rgba(0, 0, 0, 0.6);
}

.container-3w7J-x {
    background-color: transparent;
}

.avatarSpeaking-2IGMRN {
    border: 2px solid #21ac21;
    box-shadow: none;
}

.modeUnread-1qO3K1 .icon-1DeIlz, 
.modeUnread-1qO3K1:hover .icon-1DeIlz {
    color: white;
}

.unread-2lAfLh {
    display: none;
}

.wrapper-2jXpOf:hover .content-1x5b-n,
.listDefault-3ir5aS .clickable-1lCRLF:hover .content-1Wq3SX {
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}

.content-1x5b-n,
.content-1Wq3SX {
	border-radius: 7px;
}

.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n,
.listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .content-1Wq3SX {
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}

.wrapper-2jXpOf.modeLocked-SZJhTy .icon-1DeIlz,
.wrapper-2jXpOf.modeLocked-SZJhTy .name-23GUGE {
     color: #33B5FF;
}

.users-3kndPl,
.iconBadge-qZ4Ksk {
    background-color: #33B5FF;
}

.total-i6us2n {
    background-color: #33B5FF;
}

.total-i6us2n:after {
    display: none;
}

.wrapper-2tAnRe,
.membersGroup-v9BXpm {
    color: white;
}

.membersGroup-v9BXpm {
    text-align: center;
}

.members-1998pB {
    background-color: transparent;
}

.members-1998pB>div {
    background-color: transparent;
}

.lowMotionItem-1DvHia,
.wanderingCubesItem-WPXqao {
    background-color: #33B5FF;
    width: 14px;
    border-radius: 50px;
    height: 14px;
}

.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: #33B5FF;
}

.progress-3Rbvu0[style*="background-color: rgb(233, 231, 231);"] {
    background-color: transparent !important;
}

.small-1CUeBa[style*="background-color: rgb(114, 137, 218);"] {
    background-color:  #33B5FF !important; 
}


.activity-2Gy-9S {
    color: white;
}

.reaction-1hd86g {
    background-color: rgba(255,255,255,.029);
    border: 1px solid rgba(255, 255, 255, 0.40);
}

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: rgba(128, 218, 114, 0.17);
    border: 1px solid rgba(128, 218, 114, 0.40);
}

.reactionMe-wv5HKu .reactionCount-2mvXRV, 
.reactionMe-23mbRf:hover .reactionCount-2mvXRV {
    color: #63d851;
}

.styleFixed-sX-yHV {
    border-radius: 7px;
    box-shadow: none;
    background: #33B5FF;
}

.separator-2I32lJ {
    border: none;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: rgba(0, 0, 0, 0.12);
    color: white !important;
}

.description-3_Ncsb, 
.labelDescriptor-1PqHgD,
.theme-dark .guildName-3WI6ml, 
.theme-dark .override-2YgiXd, 
.theme-dark .overrideHighlight-YPcBxt,
.h5-18_1nd {
    color: #dadada;
}

.themeDefault-24hCdX {
    background-color: #33B5FF;
}

.sizeDefault-2YlOZr {
    border-radius: 6px;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: #33B5FF;
}

.sizeDefault-2YlOZr:after, 
.sizeMini-1ii40f {
    border-radius: 4px;
}

.theme-dark .item-26Dhrx,
.theme-dark .item-26Dhrx:hover {
    background: rgba(0, 0, 0, .3);
}

.radioBar-bMNUI- path[fill] {
    fill: #33B5FF;
}
.radioIconForeground-XwlXQN {
    color: white;
    r:7;
}

.cardPrimary-1Hv-to, 
.theme-dark .item-26Dhrx {
    border-color: black;
    border-radius: 8px;
}

.item-26Dhrx[aria-checked=true] {
    background-color: #33B5FF !important;
    border: none !important;
}

.css-15ejc46-control,
.css-gvi9bl-control,
.css-6fzn47-control {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

.css-gvi9bl-control:hover,
.css-6fzn47-control:hover,
.css-15ejc46-control:hover {
    border-color: black;
    background-color: rgba(0, 0, 0, 0.7);
}

.css-181m2lf-menu {
    background-color: #33B5FF;
    box-shadow: none;
    color: white;
    border: none;
}

.lighten-2aYaaU {
    opacity: .5;
}

.css-rzbxvl-option {
    background-color: #33B5FF;
}

.theme-dark .separator-3gy7tq {
    box-shadow: none;
}

.cardPrimaryOutline-29Ujqw {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.09);
}

.theme-dark .override-2YgiXd:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-dark .button-2CgfFz {
    background-color: rgba(0, 0, 0, .3) !important;
    box-shadow: none !important;
}

.css-o3gndj-placeholder {
    color: white; 
    opacity: 1;
}

.theme-dark .footer-2gL1pp {
    box-shadow: none;
    background: none;
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: white;
}

/* Pins */

.messagesPopoutWrap-1MQ1bW {
	border-radius: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    background-color: rgba(40, 40, 40, .4);
    background-size: cover;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 2px solid #33B5FF;
}

/* Search */
.container-3ayLPN, .container-yqaFcK {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 0px;
	margin-right: 0px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}

.layer-2KE1M9 {
    border-radius: 20px;
    background-color: rgba(40, 40, 40, .4);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, .4);    
}

.searchResultsWrap-3-pOjs {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}

.autocomplete-1vrmpx, .outerWrapper-3-llkA {
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/397573099597594653/733242908777512970/anime-girl-cyborg-black-dress-sci-fi-long-hair-library.jpg");
    border-radius: 15px;
	background-size: cover;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}

.wrapper-1-Fsb8, .categoryHeader-O1zU94, .base-1pYU8j{
	background-color: transparent !important;
    border: none !important;
}

.itemWrapper-14KrHY:hover,
.autocompleteRowVertical-q1K4ky:hover,
.autocompleteRow-2OthDa:hover,
.selectable-3dP3y-:hover,
.selectable-3dP3y-:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #33B5FF;
}
